Django~=3.2.12
django-fsm==2.8.0
djangorestframework==3.13.1
djangorestframework-jsonp==1.0.2
django-pagedown==2.2.1
django-markdown-deux==1.0.5
django-registration==3.2
django-storages==1.12.3
django-user-messages==0.8.0
django-widget-tweaks==1.4.12
weasyprint==52.0
django-weasyprint==1.1.0
easy-thumbnails==2.8.1
psycopg2==2.8.4
Pillow==6.2.1
requests==2.27.1
gunicorn[gevent]==20.1.0
gevent==21.12.0
profanityfilter==2.0.6
django-cors-headers==3.11.0
numpy==1.22.0
astropy==5.1
astroplan==0.8
astroscrappy==1.1.0
fits2image>=0.4.0
fits_align>=0.4.3
boto3==1.20.50
rollbar