--extra-index-url=http://buildsba.lco.gtn/python/
Django>2.1,<2.2
django-fsm
django-rest-framework
djangorestframework
djangorestframework-jsonp
django-pagedown
django-markdown-deux
django-registration
mysqlclient
Pillow
requests
six
gunicorn[gevent]
profanityfilter
django-cors-headers
astropy
astroscrappy
fits2image>=0.4.0
fits_align>=0.4.3
boto3
django-storages
