{% extends 'explorer/base.html' %}
{% load static i18n %}

{% block script-content %}
{% endblock %}

{%block wrapper-class %}{% endblock %}

{% block ribbon %}{% endblock %}

{% block main-header %}
<a href="{% url 'home' %}"><img src="{% static 'explorer/images/serol_logo_sm.png'%}" /></a>
{% endblock %}

{% block main-body %}
			<h1>Serol</h1>
			<h2>{% trans "Sign up to start your cosmic adventure!" %}</h2>
      {% for m in messages %}
      <p class="notifcation is-warning">{{m|safe}}</p>
      {% endfor %}
      <div class="card">
        <div class="card-content">
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
          <div class="field">
            <label class="label" for="{{ field.id_for_label }}">
              {{ field.label}}
              </label>
              <div class="control">
                {% if field.html_name == 'password2' or field.html_name == 'password1'%}
                <input type="password" class="input" name="{{ field.html_name }}" />
                {% else %}
                <input type="text" class="input" name="{{ field.html_name }}" />
                {% endif %}
                </div>
              {% if field.help_text %}
                 <p class="help">{{ field.help_text|safe }}</p>
              {% endif %}
              {% for error in field.errors %}
                <p class="help is-danger">{{ error }}</p>
              {% endfor %}
          {% endfor %}
          <div class="field is-grouped">
            <div class="control">
            <button type="submit"  class="button">Sign up</button>
          </div>
          </div>
            <p class="small">By registering in, you agree to <a href="https://lco.global/observatory/privacy-policy/" target="_blank">the Las Cumbres Observatory privacy policy</a>.</p>
        </form>
        </div>
        </div>
{% endblock %}
