  /*
   * Globals
   */
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  text-shadow: none; /* Prevent inheritance from `body` */
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
}

#wrapper-inner {
  overflow:auto;
  padding-bottom:200px;
}


body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: url('../images/serol_bg_sm.jpg') repeat fixed #2b3e50;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, .target-name {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #fff;
}

h1 {
  font-size:4.5rem;
}

h1.side-writing {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  writing-mode: vertical-lr;
  text-orientation: sidways-right;
  font-size:10rem;
  text-shadow: 0 .5rem .5rem rgba(0,0,0,.5);
}

p {
  font-size:2rem;
}

#request-message {
  color: rgba(255, 255, 255, 0.25);
}

h2.request-status-info {
  display: inline-block;
  font-size: 8rem;
}
#request-days,
#request-time {
  font-family: "Aldrich";
  display:block;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.center-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;

}

.center-box {
  resize: both;
  overflow: auto;
}


/*
 * Header
 */

.nav-head {
  border-bottom: 1px solid #555;
}

/*
 * Modals
 */

 .modal-content,
 .modal-content h4 {
   color: #2b3e50;
 }

h5.modal-title{
  color: #2b3e50;
}


/*
 * Colour and Art
 */

 .mission-header{
   border-bottom:1px solid #fff;
 }


 .mission-1-header {
   background: url('../images/m1-heading.jpg') no-repeat center top;
   height:100%;
   min-height:500px;
   vertical-align: top;
 }

.mission-1-sidebar {
   background: url('../images/m1-SidePanel.jpg') no-repeat fixed left bottom;
 }

.mission-content h1,
.mission-content p {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.mission-title{
  background: rgba(0,0,0,0.5);
}

 .mission-name {
   vertical-align: middle;
   font-size:4rem;
   width:15rem;
   text-shadow: 0 .5rem .5rem rgba(128,128,255,0.7);
 }

.mission-1-sidebar .page-header {
   background-color:rgba(29, 220, 93, 0.7);
 }

 .mission-2-sidebar .page-header {
    background-color:rgba(237, 80, 48, 0.7);
  }

  .mission-3-sidebar .page-header {
     background-color:rgba(36, 209, 255, 0.7);
   }

 .page-header h1 {
   margin: 5px 0 15px 0;
 }

 .title-left{
   background: url('../images/TitlePage-LEFT.jpg') no-repeat center top;
   height:450px;
 }
 .title-right{
   background: url('../images/TitlePage-RIGHT.jpg') no-repeat center top;
   height:450px;
 }

.target-name-holder {
  vertical-align: middle;
  position:absolute;
  top:40%;
  left:38%;
  border-radius: 20px;
  border:5px solid #fff;
  background-color: rgba(255,0,0,0.5);
}

.target-name-holder:hover{
  background-color: rgba(0,128,0,1.0);
}

.target-name{
  font-size:3rem;
  z-index:2;
  padding: 5px;
}

.target-holder img {
  width:50%;
}

.side-panel {
  background-color: rgba(0,0,0, 0.2);
  border: 3px solid #fff;
}

.side-panel p {
  font-size:1rem;
}

/* Image identify
*/

.identify-container {
    position: relative;
    width: 50%;
}

.identify-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.identify-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.identify-container:hover .identify-image {
  opacity: 0.3;
}

.identify-container:hover .identify-middle {
  opacity: 1;
}

.identify-text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* Footer
*/

footer {
  background-color:#000;
}

@media (max-width: 42rem) {
  .modal-dialog {
    min-height: -webkit-calc(100vh - 20px);
    min-height: -moz-calc(100vh - 20px);
    min-height: calc(100vh - 20px);
  }
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 60rem;
  }
}
