  /*
   * Globals
   */
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  text-shadow: none; /* Prevent inheritance from `body` */
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}


body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: url('../images/serol_bg_sm.jpg') repeat fixed #2b3e50;
  color: #fff;
}

h1, h2, h3, h4, h5, h6, .target-name {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #fff;
}

h1 {
  font-size:4.5rem;
}

p {
  font-size:2rem;
}

#request-message {
  color: rgba(255, 255, 255, 0.25);
}

h2.request-status-info {
  display: inline-block;
  font-size: 8rem;
}
#request-days,
#request-time {
  font-family: "Aldrich";
  display:block;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.masthead, .mastfoot, .content {
  display: table-row;
  vertical-align: top;
}

/*
 * Header
 */

.nav-head {
  border-bottom: 1px solid #555;
}

/*
 * Modals
 */

 .modal-content,
 .modal-content h4 {
   color: #2b3e50;
 }

h5.modal-title{
  color: #2b3e50;
}


/*
 * Colour and Art
 */

 .mission-header{
   border-bottom:1px solid #fff;
 }

.challenge {
  height:100%;
  min-height:500px;
  position: absolute;
}

.challenge-header {
  height:100%;
  min-height:500px;
  vertical-align: top;
}

 .mission-1-header {
   background: url('../images/m1-heading.jpg') no-repeat center top;
 }

.mission-3-sidebar {
   background: url('../images/SidePanel-LifeandDeathofStars.jpg') no-repeat fixed left bottom;
 }
 .mission-2-header {
   background: url('../images/M2WebGraphic.jpg') no-repeat center top;
 }

.mission-2-sidebar {
   background: url('../images/SidePanel-UniverseAtLarge.jpg') no-repeat fixed left bottom;
 }
 .mission-3-header {
   background: url('../images/M3WebGraphic.jpg') no-repeat center top;
 }

.mission-1-sidebar {
   background: url('../images/m1-SidePanel.jpg') no-repeat fixed left bottom;
 }

.mission-1 {
    background: url('../images/M1UPPER.jpg') top center no-repeat,
                url('../images/M1LOWER.jpg') bottom center no-repeat;
}

.mission-content h1,
.mission-content p {
  margin-right: auto;
  margin-left: auto;
}

.mission-name {
   vertical-align: middle;
   font-size:4rem;
   width:15rem;
   text-shadow: 0 .5rem .5rem rgba(128,128,255,0.7);
 }

.mission-1-colour,
.mission-1-sidebar .page-header {
   background-color:rgba(29, 220, 93, 0.7);
 }

.mission-2-colour,
.mission-2-sidebar .page-header {
    background-color:rgba(237, 80, 48, 0.7);
  }

.mission-3-colour,
.mission-3-sidebar .page-header {
     background-color:rgba(36, 209, 255, 0.7);
   }

 .page-header h1 {
   margin: 5px 0 15px 0;
 }

 .title-left{
   background: url('../images/TitlePage-LEFT.jpg') no-repeat center top;
   height:450px;
 }
 .title-right{
   background: url('../images/TitlePage-RIGHT.jpg') no-repeat center top;
   height:450px;
 }

.target-name-holder {
  vertical-align: middle;
  position:absolute;
  top:40%;
  left:38%;
  border-radius: 20px;
  border:5px solid #fff;
  background-color: rgba(255,0,0,0.5);
}

.target-name-holder:hover{
  background-color: rgba(0,128,0,1.0);
}

.target-name{
  font-size:3rem;
  z-index:2;
  padding: 5px;
}

.target-holder img {
  width:50%;
}

.side-panel {
  background-color: rgba(0,0,0, 0.2);
  border: 3px solid #fff;
}

.side-panel p {
  font-size:1rem;
}

/* Image identify
*/

.identify-container {
  background-color: rgba(0,0,0, 0.2);
}

.identify-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.identify-middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.identify-container:hover .identify-image {
  opacity: 0.3;
}

.identify-container:hover .identify-middle {
  opacity: 1;
}

.identify-text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/* Wrapper layouts
*/

.content-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.content-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Ribbon styles */

.corner-ribbon{
  text-align: center;
  color: #f0f0f0;
  z-index: 0;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: fixed;
  box-shadow: 0 0 3px rgba(0,0,0,.7);
}

.corner-ribbon.top-right{
  width: 500px;
  top: 100px;
  right: -110px;
  line-height: 50px;
  letter-spacing: 1px;
}

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (max-width: 576px) {
  .mission-1 {
      background: url('../images/M1LOWER_sm.jpg') bottom center no-repeat;
  }

  .corner-ribbon.top-right{
    width: 250px;
    top: 50px;
    right: -60px;
    line-height: 50px;
    letter-spacing: 1px;
  }
  .corner-ribbon h1{
    font-size: 2em;
  }
}




@media (max-width: 42rem) {
  .modal-dialog {
    min-height: -webkit-calc(100vh - 20px);
    min-height: -moz-calc(100vh - 20px);
    min-height: calc(100vh - 20px);
  }
}
