/*
 * Base structure
 */
body {
  font-family: 'Aldrich', Arial, sans-serif;
  background: #fff;
  color: #555;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#page-wrapper {
  flex: 1;
}

h1, h2, h3, h4, h5, h6, .mission-label {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #00adef;
  text-align: left;
  padding-bottom: 20px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

.section a,
.section a:focus{
  color: #ff5233;
  border-bottom: dotted thin #065c99;
  text-decoration: none;
  padding-bottom: 3px;
}

.footer a:hover,
.section a:hover {
    background-color: #ffcd05;
    color: #000;
    line-height: 20px;
}

p {
  font-size: 1.2em;
  margin-bottom:1em;
}

.starry-bg {
  background: url('../images/serol_bg_sm.jpg') repeat fixed #2b3e50;
  color: #fff;
}

.statement {
  font-size: 1.5rem;
}

.focus-home {
  background-color: #cceffc;
  padding: 5rem 0;
}

.navbar {
  border-bottom: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
}

.footer {
  background-color: #0d0c34;
  color: #fff;
}

.footer h4,
.footer a {
  color: #fff;
}

.overlay-badge {
  position: absolute;
  bottom: -20px;
  right: -20px;
  background-color: #ffc312;
  font-size: 65%;
  border-radius: 30px;
  padding: 5px;
}

.image-with-sticker {
  position:relative;
}

.sticker-over-image {
  position:absolute;
  top:-20px;
  right:-20px;
  max-width:30%;
}

.register-button-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

a.register-ind{
  background-color: #00adef;
  border-color:#00adef;
  color: white;
}
a.register-teacher{
  background-color: #ef4123;
  border-color:#ef4123;
  color: white;
}

.red-bg {
  background-color: #fcd9d3;
}

.yellow-bg {
  background-color:#fff3d0;
}

.green-bg {
  background-color: #edf5d7;
}

.blue-bg {
  background-color: #cceffc;
}

.colour-option-0 {
  background-color: #ffc312;
}

.colour-option-1 {
  background-color: #a6ce39;
}

.colour-option-2 {
  background-color: #ef4123;
  color: #fff;
}

.colour-option-3 {
  background-color: #00adef;
  color: #fff;
}

.red {
  color:#ef4123;
}

.yellow {
  color: #ffc312;
}

.green {
  color:#a6ce39;
}

.blue {
  color: #00adef;
}

.black {
  color: #555;
}

.rounded-corners {
  border-radius: 25px;
}

.target-name {
  font-size:1.2em;
}

a.button:hover {
    background-color: #edf5d7;
}

.identify-image {
  position:relative;
}

.identify-answer {
  position:absolute;
  top: 50%;
  left: 50%;
  font-size:2em;
  margin: -25px 0 0 -50px;
}

.identify-yes {
  color:#fff;
  background-color: #4EC712;
  padding: 0 5px;
  border-radius: 10px;
}

.identify-no {
  color:#fff;
  background-color: #b92e2e;
  padding: 0 5px;
  border-radius: 10px;
}

/* Identify Question buttons */

 .question-container input[type="radio"] {
	 display: none;
}
.question-container .box:hover {
  background-color:#cceffc;
  cursor:pointer;
  color:#555;
}

.answers {display:table;}
.questionrow {display:table-row;}
.answers .question { text-align: right; display:table-cell; font-weight:bold;}
.answers .answer {padding-left:10px; text-align:left;display:table-cell;}

.mission-1-colour,
.mission-1-sidebar .page-header {
   background-color:rgb(29, 220, 93);
 }

 .mission-1-colour-text {
   color:rgb(29, 220, 93);
 }

.mission-2-colour,
.mission-2-sidebar .page-header {
    background-color:rgb(237, 80, 48);
  }

.mission-2-colour-text {
    color:rgb(237, 80, 48);
  }

.mission-3-colour,
.mission-3-sidebar .page-header {
     background-color:rgb(36, 209, 255);
   }

.mission-3-colour-text {
     color:rgb(36, 209, 255);
}

abbr[title], acronym[title] {
    text-decoration: none;
    border-bottom: dashed #aaa;
    border-width: thin;
}
