{% extends 'explorer/challenge-base.html' %}
{% load static i18n %}

{% block wrapper-class%}challenge mission-{{object.mission.number}}-sidebar{%endblock%}

{% block script-content %}
<script src="{% static 'explorer/js/utils.js' %}" ></script>
<script>
var answers = Array();
var requestid = {{ progress.requestid}};
var frameid = {{ progress.frameids }};
var current_question=0;
var question_total={{questions|length}};
var my_image {% if progress.image_file %} = "{{ MEDIA_PREFIX }}{{ progress.image_file }}"{% endif %};
$(document).ready(function(){
  $('#question-0').show();

  $("input:radio[name='answer']").on('change', function (){
      var aid = $(this).attr('id');
      answers.push(aid);
      show_next_question();
  });

  if (typeof(my_image) == 'undefined'){
    get_colour_image(localStorage.getItem('archive_token'), frameid, mode='analyser')
  }

});

function show_next_question() {
  $('#question-'+current_question).hide();
  current_question += 1;
  if (current_question < question_total){
    $('#question-'+current_question).show();
  } else{
    add_answers_to_form();
    $('.speech-bubble').hide();
    $('#submit-answers').show();
  }
}

function add_answers_to_form() {
  var answers_text = JSON.stringify(answers);
  $("#form-answers").val(answers_text);
  }
</script>
{% endblock %}

{% block challengename %}{{object.challenge.name}}{% endblock %}

{% block main-body %}
<div class="centre-container">
  <h1>{% trans "Analyse your image!" %}</h1>
  <div class="row">
    <div class="col-lg-8">
      <img src="{% if progress.image_file %}/images/{{ progress.image_file }}{% else %}{% static 'explorer/images/placeholder.jpg' %}{% endif %}" alt="{{object.name}}" class="img-fluid rounded" id="img-holder">
    </div>
    <div class="col-lg-4">
        <div class="arrow bottom right"></div>
      {% for question in questions %}
      <div class="question-wrapper" id="question-{{ forloop.counter0 }}" style="display:none;">
      <h3>{{question.text}}</strong></h3>

        <div class="question-container">
            <ul>
            {% for answer in question.answer_set.all %}
            <li>
               <input type="radio" name='answer' id="answer-{{answer.pk}}">
               <label for="answer-{{answer.pk}}">{{answer.text}}</label>
               <div class="check"></div>
           </li>
           {% endfor %}
           </ul>
       </div>
     </div>
   {% endfor %}
    <div id="submit-answers"  style="display:none;">
      <form action="" method="post">
        {% csrf_token %}
        <input id="form-answers" name="answers" type="hidden" value="" />
        <input type="submit" class="btn btn-4 btn-4a animated tada" value='{% trans "Send Serol your answers!" %}' />
      </form>
    </div>
    </div>
  </div>

</div>

{% endblock %}
