{% extends 'explorer/challenge-base.html' %}
{% load static i18n %}

{% block wrapper-class%}challenge mission-{{object.mission.number}}-sidebar{%endblock%}

{% block script-content %}
<script src="{% static 'explorer/js/utils.js' %}" ></script>
<script>
var images = Array();
var current_tag = "{{object.avm_code}}";
var redirect_url = "{% url 'analyse' object.id %}?frameid="+{{ progress.frameids }};
var requestid = {{ progress.requestid }};
var frameid = {{ progress.frameids }};
var my_image_url {% if progress.image_file %} = "{{ progress.image_file.url|safe }}"{% endif %};

function filter_tags() {
  var static_url = "{% static 'explorer/identify/' %}";
  var samples = {
            "1.1" : static_url + "jupiter.jpg",
            "2.2" : static_url + "c_2016.jpg",
            "3.6.4" : static_url + "R135.jpg",
            "3.6.4.2" : static_url + "M15.jpg",
            "3.6.4.1" : static_url + "C44.jpg",
            "4" : static_url + "M16.jpg",
            "4.1.2" : static_url + "M20.jpg",
            "4.1.3" : static_url + "M27.jpg",
            "5.1.1" : static_url + "M51.jpg",
            "5.1.4" : static_url + "M49.jpg",
            "5.1.6" : static_url + "M82.jpg",
            "5.5.2" : static_url + "NGC3187.jpg",
    }
  for (key in samples)
  {
     if (key != current_tag){
       images.push({'mine':false, 'url':samples[key]});
     }
  }
}

$(document).ready(function(){
  filter_tags();
  if (typeof(my_image_url) != 'undefined'){
    arrange_images(my_image_url);
  } else {
    get_colour_image(localStorage.getItem('archive_token'), frameid, mode='identify')
  }
});
</script>
{% endblock %}

{% block challengename %}{{object.challenge.name}}{% endblock %}

{% block main-body %}
<div class="centre-container">
<h1>{% trans "Which is your picture?" %}</h1>
  <div class="row">
    <div class="col-lg-10">
      <div class="row">
        {% for i in "0123" %}
        <div class="col-6 pb-2">
          <img src="{% static 'explorer/images/placeholder.jpg' %}" alt="" class="identify-image img-fluid rounded" id="img-{{i}}" data-mine="">
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-2">
        <div class="bubble">
          <p>{% trans "You asked for" %} <strong>{{progress.target}}</strong>.
              {% trans "That's a" %} <strong>{{object.category}}</strong>.<br/>
          {% trans "Click on your picture" %}</p>
        </div>
    </div>
  </div>
</div>
<div class="identify-answer identify-yes" style="display:none;">{% trans "Correct!" %}</div>
<div class="identify-answer identify-no" style="display:none;">{% trans "Try Again!" %}</div>


{% endblock %}
