{% extends 'explorer/base.html' %}
{% load static i18n %}

{% block title %}{% trans "Observation Status" %}{% endblock %}

{% block mission-class %}{%endblock%}

{% block main-body %}
          <h2>{% trans "While you wait ...." %}</h2>
          <div class="columns">
            <div class="column is-half">
              <div id="status-serol"></div>
            </div>
            <div class="column">
              {% for activity in activities %}
              <div class="icon-text">
                <span class="icon {% cycle 'blue' 'yellow' %} is-large">
                  <i class="fas {% cycle 'fa-pencil-ruler' 'fa-ruler-triangle' %} fa-2x"></i>
                </span>
                <span class="is-size-3"><a href="{{activity.url}}" target="_blank">{{activity.name}}</a></span>
              </div>
              <p class="block">
                {{activity.desc}}
              </p>
              {% endfor %}
              <!-- Activity 3 -->
              <div class="icon-text">
                <span class="icon green is-large">
                  <i class="fas fa-camera-movie fa-2x"></i>
                </span>
                <span class="is-size-3"><a href="/videos/" target="_blank">Serol Movies</a></span>
              </div>
              <p class="block">
                We have 4 movies starring Serol which explore robotic telescopes, the life of exploding stars and Solar Sytem mysteries.
              </p>
            </div>
          </div>

          <div class="columns is-centered">
            <div class="column is-half">
              <p class="has-text-centered">
                <span class="icon-text">
                <span class="icon is-large"><i class="fas fa-gamepad red fa-2x"></i></span>
                <span class="is-size-4">or try the <a href="/game/">Serol Video Game</a></span>
                </span>
                </p>
              </div>
            </div>

          <div class="columns">
        <div class="column is-half">
          <div class="box yellow-bg">
            <div class="block">
              <span class="is-size-4">{% trans "Where:"%} <span id="location-text"></span></span>
              </div>
          <div class="block">
          <span class="is-size-4">When: </span>
          <span class="icon-text is-size-4">
            <span class="icon">
              <i class="fad fa-clock" style="--fa-secondary-color:#ffc312;"></i>
            </span>
            <span id="calendar-value"></span>&nbsp;<span id="calendar-units"></span>
          </span>
          </div>
          </div>
      </div>
      <div class="column">
        <div class="box green-bg">
        <h3>{% trans "Fun Fact" %}</h3>
        <div class="fact-box rounded p-2">
          <p>{% trans "loading..."%}</p>
        </div>
      </div>
      </div>
    </div>


{% endblock %}

{% block script-content %}
<script src="{% static "explorer/js/utils.js" %}?q=0.12"  type="text/javascript" ></script>
<script>
var requestid = "{{progress.requestid}}";
var resp;
var redirect_url = "{% url 'challenge' object.id %}";
$(document).ready(function(){
  resp = status_request(requestid, "{{ request.session.token }}");
  get_facts();
});

var serolStatus = {
    container: document.getElementById('status-serol'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    autoloadSegments: true,
    rendererSettings: {
        progressiveLoad:false
    },
    path: '{% static "explorer/js/status-serol.json" %}'
};
serolanim = lottie.loadAnimation(serolStatus);
</script>
{% endblock%}
