{% extends 'explorer/challenge-base.html' %}
{% load static i18n %}

{% block extracss %}
<style>
#serolthink {
  bottom: 0 a;
  position: relative;
  transform: rotate(20deg);
  -webkit-animation: ease-in-out infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 10s;
}
@-webkit-keyframes run {
  0%,20% {
    left: -1000px;
    bottom: 0px;
  }
  50%,70% {
    left: -50px;
    bottom: 200px;
  }
  100% {
    left: -1000px;
    bottom: 0px;
  }
}
</style>
{% endblock %}

{% block script-content %}
<script src="{% static 'explorer/js/utils.js' %}" ></script>
<script>

var serolStatus = {
    container: document.getElementById('serolthink'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    autoloadSegments: true,
    rendererSettings: {
        progressiveLoad:false
    },
    path: '{% static "explorer/js/serolthinking.json" %}'
};
serolanim = lottie.loadAnimation(serolStatus);

var targets;
var category = '{{object.avm_code}}';
var image_files = {
    '5.5' : "{% static 'explorer/images/5.5-groupofgalaxies.png' %}",
    '5.1.1' : "{% static 'explorer/images/5.1.1-spiral_galaxy.png' %}",
    '5.1.4' : "{% static 'explorer/images/5.1.4-elliptical_galaxy.png' %}",
    '5.1.6' : "{% static 'explorer/images/5.1.6-interacting_galaxy.png' %}",
    '5' : "{% static 'explorer/images/5-galaxy.png' %}",
    '4.1.4' : "{% static 'explorer/images/4.1.4-supernova_remnant.png' %}",
    '4.1.3' : "{% static 'explorer/images/4.1.3-planetary_nebula.png' %}",
    '4.1.2' : "{% static 'explorer/images/4-nebula.png' %}",
    '4' : "{% static 'explorer/images/4-nebula.png' %}",
    '3.6.4' : "{% static 'explorer/images/3.6.4.1-open_cluster.png' %}",
    '3.6.4.1' : "{% static 'explorer/images/3.6.4.1-open_cluster.png' %}",
    '3.6.4.2' : "{% static 'explorer/images/3.6.4.2-globular_cluster.png' %}",
    '2.3' : "{% static 'explorer/images/2.3-asteroid.png' %}",
    '2.2' : "{% static 'explorer/images/2.2-comet.png' %}",
    '1.4' : "{% static 'explorer/images/1.1.1-mercury.png'  %}",
    '1.1' : "{% static 'explorer/images/1.1.2-saturn.png' %}"
                  };
var start = new Date();
var end = startEnd(start);
var csrftoken = '{{ csrf_token }}';
var challenge_id = '{{object.id}}'
var redirect_url = "{% url 'challenge' object.id %}";
var image_file = image_files[category];
var whatsupurl = "https://whatsup.lco.global/range/?aperture=0m4&format=jsonp";
var target_type;

function add_targets(i, data){
  var item = "#target-img-"+i;
  $(item+" .target-name").html(data);
}

function get_targets(){
  if (category == '2.3' || category == '2.2' || category == '1.1'){
    target_type = 'moving';
  } else if (category == '1.4'){
    target_type = 'moon';
  } else {
    target_type = 'sidereal';
    whatsupurl += "&category="+category;
    whatsupurl += "&end="+end.substr(0,19);
    whatsupurl += "&start="+start.toISOString().substr(0,19);

    $.ajax( {url : whatsupurl,
      jsonp: "callback",
      dataType: "jsonp",
      success: function( data ) {
        targets = data.targets;
        var target;
        var max_length = targets.length > 3 ? 3 : targets.length;

        for (i=0;i<max_length;i++){
          target = data.targets[i];
          var item = "#target-img-"+i;
          $(item+" .target-name").html(target.name);
          $(item+" .target-desc").html(trim_text(target.desc));
        }
      }
    });
  }
}

function trim_text(text) {
  if (text.length < 98){
    return text
  }
  var shortenedString = text.substr(0,100);
  return `${shortenedString}&hellip;`
}

function show_modal(tid, title, desc, target_type){
  $('#submit_modal').show();
  if (target_type=='moving' || target_type == 'moon'){
    $(".modal-card-title").html(title);
    $("#target_desc_modal").html(desc);
  } else {
    $(".modal-card-title").html(targets[tid].name);
    $("#target_desc_modal").html(targets[tid].desc);
  }
  $("#submit_button").data('tid',tid);
  $('#submit_button').prop("disabled", false);
}

$(document).ready(function(){

    get_targets();

  {% if moon %}
  var tid = null;
  var title = "Moon"
  var desc = "The Moon moves very fast. Serol is going to try 3 times to catch it for you.";
    show_modal(tid, title, desc, target_type)
  {% else %}

  $("#target_refresh").on("click", function(){
    get_targets()
    });

  $(".target-holder a").on("click", function(){
    var tid = $(this).data('tid');
    var title = $(this).find(".target-name").html();
    var desc = $(this).siblings().html();
    show_modal(tid, title, desc, target_type)
  });
  {% endif %}

  $("#cancel_button").on("click", function(){
    $('#submit_modal').hide();
  });

  $("#submit_button").on("click", function(){
    $(this).prop("disabled", true);
    console.log('Button pressed')
    var tid = $(this).data('tid');
    var start = new Date();
    var end = startEnd(start);
		var data = {start: start.toISOString().substr(0,19),
					end:end.substr(0,19),
					aperture:'0m4',
          target_type: target_type,
					token: localStorage.getItem('token'),
          csrfmiddlewaretoken: csrftoken,
          challenge:challenge_id
				};
    if (target_type == 'moving'){
      data['object_name'] = tid;
    } else if (target_type == 'moon' ) {
      data['object_name'] = "Moon";
    } else {
      data['object_name'] = targets[tid].name;
      data['object_ra'] = targets[tid].ra;
      data['object_dec'] = targets[tid].dec;
      data['filters'] = JSON.stringify(targets[tid].filters);
    }
    submit_to_serol(data, redirect_url);
  });
});
</script>
{% endblock%}
{% block wrapper-class%}challenge mission-{{object.mission.number}}-sidebar{%endblock%}

{% block main-content %}
<section class="section">

    <div class="container">
      <div class="centre-container">
        <nav class="level" >
          <div class="level-left">
            <h2>Mission {{object.mission.number}}: {{object.mission.name}}</h2>
          </div>
          <div class="level-right">
            <img src="{% static 'explorer/images/mission1-outlineheader1.svg'%}" style="height: 100px;" />
          </div>
        </nav>

  <div class="blue-bg rounded-corners p-6">
  <article class="media mb-5">
  <figure class="media-left">
    <p class="image is-128x128">
      <img class="img-fluid" src="{{object.icon_url}}" alt="">
    </p>
  </figure>
  <div class="media-content">
    <h1>{% trans 'Challenge' %} {{object.number}}: {{object.name}}</h1>
    <p>{% trans 'Click a target below to find out more' %}
    <p>{% trans 'Serol will take a picture of your choice within 7 days' %}</p>
  </div>
</article>

  <div class="columns is-multiline is-centered">
    {% if moon %}
    <div class="column is-half">
      <figure class="image">
        <img src="{% static 'explorer/images/rocket-scene-colour.png' %}"
      </figure>
    </div>
    </div>
    {% else %}
    {% if targets %}
    {% for target in targets %}
    <div class="column is-one-third target-holder p-5">
            <div class="target-name-holder">
              <a href="#" id="target-img-{{target.id}}" data-toggle="modal" data-target="#targetModal" data-tid="{{target.id}}" data-name="{{target.name}}" class="button target-name colour-option-{{forloop.counter}} has-text-centered is-fullwidth">
              <div class="target-name">{{target.name}}</div>
              </a>
              <span class="target-desc">{{target.description}}</span>
            </div>
    </div>
    {% endfor %}
    {% else %}
    {% for i in "012" %}
    <div class="column is-one-third target-holder p-5">
            <div class="target-name-holder" id="target-img-{{i}}">
              <a href="#" data-toggle="modal" data-target="#targetModal" data-tid="{{i}}" class="button target-name colour-option-{{i}} has-text-centered is-fullwidth">
              </a>
              <div class="target-desc black has-text-centered mt-3"></div>
            </div>
    </div>
    {% endfor %}
    <div class="column is-one-third ">
      <a class="button colour-option-3 is-fullwidth" id="target_refresh"><i class="fas fa-sync"></i>&nbsp;Refresh Targets</a>
    </div>
    {% endif %}
    {% endif%}
  </div>

  </div>
</div>

<!-- Modal -->
<div class="modal" style="display:none;" id="submit_modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title"></p>
      <button class="delete" aria-label="close" id="cancel_button"></button>
    </header>
    <section class="modal-card-body">
      <article class="media mb-5">
      <figure class="media-left">
        <p class="image is-128x128">
          <img class="img-fluid" src="{{object.icon_url}}" alt="">
        </p>
      </figure>
      <div class="media-content" id="target_desc_modal">
      </div>
      </article>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success"  id="submit_button">Take Picture!</button>
      <button class="button" id="accept_button" style="display:none;">Next <i class="far fa-chevron-right"></i></button>
    </footer>
  </div>
</div>


</section>
{% if not moon %}
<div id="serolthink" style="max-width:300px;"></div>
{% endif %}

{% endblock %}
