{% extends 'explorer/challenge-base.html' %}
{% load static i18n %}

{% block wrapper-class%}challenge mission-{{object.mission.number}}-sidebar{%endblock%}

{% block main-content %}
      <div class="row">
        <div class="col-6 offset-2">

          <div id="clock"></div>

          <div id="status-info">
            <span id="request-site"><i class="far fa-cog fa-w-16 fa-spin fa-3x fa-fw"></i></span>
          </div>
        </div>

        <div class="col-4">
            <div class="bubble">
              <p>{% trans "I'm asking my telescope friends to take a picture of " %} <strong>{{progress.target}}</strong>
              {% trans "for you" %}</p>
            </div>
        </div>

      </div>
    </div>

{% endblock %}

{% block script-content %}
<script src="{% static "explorer/js/utils.js" %}"  type="text/javascript" ></script>
<script src="{% static "explorer/js/lottie.js" %}"  type="text/javascript" ></script>
<script>
var requestid = "{{progress.requestid}}";
var resp;
var resp_tmp;
var redirect_url = "{% url 'challenge' object.id %}";
$(document).ready(function(){
  resp = status_request(requestid, localStorage.getItem('token'));
});
var anim;
var animData = {
    container: document.getElementById('clock'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    autoloadSegments: true,
    rendererSettings: {
        progressiveLoad:false
    },
    path: '{% static "explorer/js/clock.json" %}'
};
anim = lottie.loadAnimation(animData);
</script>
{% endblock%}
