{% extends 'explorer/challenge-base.html' %}
{% load static i18n %}

{% block title %}{% trans "Observation Status" %}{% endblock %}

{% block mission-class %}{%endblock%}

{% block main-content %}
<div class="container-fluid">
      <div class="row">
        <div class="col-5">
          <h3>{% trans "While you wait, try Serol's ...." %} <a href="/game/" class="btn btn-lg btn-4 btn-4a animated tada" target=_top>{% trans "Video Game" %}</a></h3>
          <div id="status-serol"></div>
        </div>

        <div class="col">
          <h3>{% trans "Where:"%} <span id="location-text"></span></h3>
            <div class="worldMap container-fluid">
        			<img src='{% static "explorer/images/serol_network_map.jpg" %}' class="bgMap rounded" />
              <div class="location ogg" data-location="ogg"></div>
              <div class="location elp" data-location="elp"></div>
              <div class="location tfn" data-location="tfn"></div>
              <div class="location cpt" data-location="cpt"></div>
              <div class="location coj" data-location="coj"></div>
              <div class="location lsc" data-location="lsc"></div>
          </div>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-5 offset-1">
        <h3>{% trans "Fun Fact" %}</h3>
        <div class="fact-box rounded p-2">
          <p>{% trans "loading..."%}</p>
        </div>
      </div>

      <div class="col-2">
        <h3>When:</h3>
        <div id="clock"></div>
      </div>

      <div class="col-2">
        <div class="calendar-outer rounded mt-5">
          <div class="calendar-inner-wrapper p-2">
          <div class="calendar-inner rounded mx-auto">
            <h3 class="info">?</h3>
          </div>
          <h3 class="info"></h3>
          </div>
        </div>
      </div>

    </div>
</div>
{% endblock %}

{% block script-content %}
<script src="{% static "explorer/js/utils.js" %}"  type="text/javascript" ></script>
<script src="{% static "explorer/js/lottie.js" %}"  type="text/javascript" ></script>
<script>
var requestid = "{{progress.requestid}}";
var resp;
var redirect_url = "{% url 'challenge' object.id %}";
$(document).ready(function(){
  resp = status_request(requestid, "{{ request.session.token }}");
  get_facts();
});
var anim;
var animData = {
    container: document.getElementById('clock'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    autoloadSegments: true,
    rendererSettings: {
        progressiveLoad:false
    },
    path: '{% static "explorer/js/clock.json" %}'
};
anim = lottie.loadAnimation(animData);

var serolStatus = {
    container: document.getElementById('status-serol'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    autoloadSegments: true,
    rendererSettings: {
        progressiveLoad:false
    },
    path: '{% static "explorer/js/status-serol.json" %}'
};
serolanim = lottie.loadAnimation(serolStatus);
</script>
{% endblock%}
