{% extends 'explorer/challenge-base.html' %}
{% load static i18n markdown_deux_tags %}

{% block wrapper-class%}challenge mission-{{object.mission.number}}-sidebar{%endblock%}

{% block main-body %}
<nav class="level" >
  <div class="level-left">
    <h2>Mission {{object.mission.number}}: {{object.mission.name}}</h2>
  </div>
  <div class="level-right">
    <img src="{% static 'explorer/images/mission1-outlineheader1.svg'%}" style="height: 100px;" />
  </div>
</nav>

<div class="blue-bg rounded-corners p-2">
  <h1>Challenge {{object.number}} : {{object.name}}</h1>
    <div class="columns">
      <div class="column is-one-third">
        <figure class="image p-6">
          <img src="{{icon}}" />
        </figure>
      <p class="has-text-centered"><a href="{% url 'observe' object.pk %}" class="button mission-{{object.mission.number}}-colour" id="start-btn">{% trans 'Start the challenge' %}</a></p>
      </div>
      <div class="column">
          <p>{{object.description|safe|markdown}}</p>
      </div>
    </div>
</div>

{% endblock %}

{% block script-content %}
{% endblock%}
