{% extends "explorer/base.html" %}
{% load static i18n explorer_utils %}

{% block ribbon %}{% endblock %}

{% block script-content %}
<script>
{% if request.user.is_authenticated %}
$(document).ready(function(){
  if (localStorage.getItem('token') == null){
    localStorage.setItem('token','{{request.user.token}}');
  }
  if (localStorage.getItem('archive_token') == null){
    localStorage.setItem('archive_token','{{request.user.archive_token}}');
  }
  var ca = getCookie('lco_fb_serol');
  if (ca == null){
    $('#surveyModal').modal('show');
  }

});
{% endif %}

var serolStatus = {
    container: document.getElementById('seasonal-serol'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    autoloadSegments: true,
    rendererSettings: {
        progressiveLoad:false
    },
    {% if not seasonfile %}
    path: '{% static "explorer/js/default-serol.json" %}'
    {% else %}
    path : '{{seasonfile}}'
    {% endif %}
};
serolanim = lottie.loadAnimation(serolStatus);
</script>

{% endblock %}

{% block main-content %}

<section class="section pb-6 pt-6">
<div class="container">
  <div class="columns">
    <div class="column is-two-fifths">
        <figure class="image">
        <img src="{% static 'explorer/images/serol-logo-blue.png' %}" alt="serol logo" style="width:200px" />
        </figure>
        <h1>{% trans "Serol's Cosmic Explorers" %}</h1>
        <p class="statement">{% trans "Explore the Universe with robotic telescopes, for children and adults from 8 years and up, for free!" %}</p>
    </div>
    <div class="column">
      <figure class="image">
      <img src="{% static 'explorer/images/rocket-scene-colour.png' %}" alt="Serol in a rocket" class="img-fluid" />
      </figure>
    </div>
  </div>
</div>
</section>

<section class="section focus-home">
  <div class="container">
    <h1 class="has-text-centered">{% trans "Investigate the Universe using Las Cumbres Observatory" %}</h1>
    <p class="statement  has-text-centered">{% trans "Serol is the brain behind our unique network of robotic telescopes. With their help you will choose targets for the robotic telescopes to observe, just for you. You will be emailed when your pictures have been taken and are ready for you to analyse."%}</p>
  </div>
</section>

<section class="section starry-bg">
  <div class="container">
    <div class="columns">
      <div class="column is-three-fifths">
          <div id="seasonal-serol"></div>
          {% if seasonal_msg %}
          <p class="statement text-center">{{seasonal_msg}}</p>
          {% endif %}
      </div>
      <div class="column">
        <p class="buttons">
        <button class="button is-rounded is-large">Join as an Individual</button>
        <button class="button is-primary is-rounded is-large">Join as a Teacher</button>
        </p>
        </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <figure class="image is-16by9">
    <iframe class="has-ratio" width="560" height="315" src="https://www.youtube.com/embed/Pq9dr9ICOl8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </figure>
  </div>
  </section>

  <section class="section">
    <div class="container">
      <h1 class="has-text-centered">{% trans "Core Aims" %}</h1>
      <div class="columns">
        <div class="column is-one-thirds">
          <p class="title has-text-centered">Robotic Telescopes</p>
          <p class="statement has-text-centered">{% trans "By simplifying the use of robotic telescopes, Serol allows anyone to become an astronomer"%}</p>
        </div>
        <div class="column is-one-thirds">
          <p class="title has-text-centered">Ownership</p>
          <p class="statement  has-text-centered">{% trans "You choose what to observe. We never send you a picture taken by someone else"%}</p>
        </div>
        <div class="column is-one-thirds">
          <p class="title has-text-centered">Science</p>
          <p class="statement  has-text-centered">{% trans "With Serol, you will learn about the different types of objects in space, and analyse your own pictures of them."%}</p>
        </div>
      </div>
  </section>

  <section class="section focus-home">
    <div class="container">
      <h1 class="has-text-centered">{% trans "How does it work?" %}</h1>
      <p class="statement  has-text-centered">{% trans "It is free to join Serol and become a Cosmic Explorer. With Serol, we have created a way for children 8 years and up to explore the Universe, using Las Cumbres Observatory’s robotic telescopes. You don’t need to know anything about astronomy to start the adventure. You just need a sense of adventure!"%}</p>
    </div>
  </section>

{% endblock %}
