{% extends "explorer/base.html" %}
{% load static i18n explorer_utils %}

{% block ribbon %}{% endblock %}

{% block script-content %}
{% if request.user.is_authenticated %}
<script>
$(document).ready(function(){
  if (localStorage.getItem('token') == null){
    localStorage.setItem('token','{{request.user.token}}');
  }
  if (localStorage.getItem('archive_token') == null){
    localStorage.setItem('archive_token','{{request.user.archive_token}}');
  }
  var ca = getCookie('lco_fb_serol');
  if (ca == null){
    $('#surveyModal').modal('show');
  }

});
</script>
{% endif %}
{% endblock %}

{% block main-content %}

<div class="content-wrapper">
<div class="content-wrapper-inner">
<div class="container">
  <div class="row">
    <div class="col-4 title-left">
    </div>
    <div class="col-4 ">
      <img src="{% static 'explorer/images/serol_logo_lg.png' %}" alt="serol logo" class="img-fluid" />
      <h1 class="title-main">{% trans "SEROL" %}</h1>
      <div class="info-blue">
        <p class="statement">{% trans "Join Serol and become a Cosmic Explorer" %}</p>
        <p class="statement">
          {% if request.user.is_authenticated %}
          <a href="{% progress_url request.user %}" class="btn btn-lg btn-4 btn-4a animated tada" >{% trans "Continue your adventure!" %}</a>
          {% else %}
          <a href="{% url 'getting-started' %}" class="btn btn-lg btn-4 btn-4a animated tada">{% trans "Start your adventure!" %}</a>
          {% endif %}
        </p>
      </div>
    </div>
    <div class="col-4 title-right">
    </div>
  </div>
</div>
</div>
</div>

<div class="modal fade" id="surveyModal" tabindex="-1" role="dialog" aria-labelledby="surveyModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Education Feedback</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Can you spare 20 seconds to give us feedback?<br/>
      </div>
      <div class="modal-footer">
        <a href="https://survey.lco.global/eef70ea6-ff58-45a3-9170-5a43f086eccd/" class="btn btn-secondary" target="_blank" onclick="setCookie('lco_fb_serol','eef70ea6-ff58-45a3-9170-5a43f086eccd','180');$('#surveyModal').modal('hide');window.open('https://survey.lco.global/eef70ea6-ff58-45a3-9170-5a43f086eccd/',
                         'newwindow',
                         'width=600,height=600'); return false;">Yes!</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="setCookie('lco_fb_serol','eef70ea6-ff58-45a3-9170-5a43f086eccd','30')">No</button>
        <img src="https://cdn.lco.global/mainstyle/img/LCO_logo_Color_Horizontal_sm.jpg" alt="LCO logo" />

      </div>
    </div>
  </div>
</div>
{% endblock %}
