{% extends 'explorer/base.html' %}
{% load static i18n %}

{% block script-content %}
{% endblock %}

{%block wrapper-class %}{% endblock %}

{% block ribbon %}{% endblock %}

{% block main-header %}
<a href="{% url 'home' %}"><img src="{% static 'explorer/images/serol_logo_sm.png'%}" /></a>
{% endblock %}

{% block main-body %}
			<h1>Serol</h1>
			<h3>{% trans "Log in with your Serol or Las Cumbres Observatory account" %}</h3>
      <p>{% trans "Want to join Serol's Cosmic Explorers?" %} <a href="{% url 'registration_register' %}">{% trans "Register for an account!" %}</a>
      </p>
      {% for m in messages %}
      <p class="bg-warning">{{m|safe}}</p>
      {% endfor %}
      <form action="" method="post"  id="loginForm" >
        {% csrf_token %}
        <div class="row">
          <div class="col">
      			<label for="username">Username:</label>
          </div>
          <div class="col">
      			<input type="text" name="username" value="" id="username">
      			<div class="red">{{form.username.errors.as_text}}</div>
          </div>
        </div>
      	<div class="row pt-2">
          <div class="col">
        		<label for="password">Password:</label>
          </div>
          <div class="col">
        		<input type="password" name="password" value="" id="password">
        		<div class="red">{{form.password.errors.as_text}}</div>
          </div>
      	</div>
          <input type="hidden" name="next" value="{{ next }}">
      		<button id="login-btn" class="btn btn-lg btn-4 btn-4a">Log me in</button>
        <p class="small">By logging in, you agree to <a href="http://lco.global/observatory/termsofuse" target="_blank">the Las Cumbres Observatory terms of use</a>.</p>
      	<p>
      		<a href="{% url 'password_reset' %}">Forgot your password?</a>
      	</p>
      </form>
{% endblock %}
