{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Serol's Cosmic Explorers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
</html>

<body style="margin: 0; padding: 0;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td>
    <table align="center" style="border: 1px solid #cccccc;" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
 <tr>
  <td align="center" bgcolor="#ffffff" style="padding: 0 0 0 0;">
  	<img src="{{BASE_URL}}{% static 'explorer/images/Serol-email-banner-failed-image-01.png' %}" alt="Oops" width="600" height="320" style="display: block;" />
  </td>
 </tr>
 <tr>
  <td bgcolor="#ffffff" style="padding: 30px 30px 30px 30px;">
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td>
   	<p style="font-family:verdana">
    Hi {{ username }},
	</p>
   </td>
  </tr>
  <tr>
   <td style="padding: 20px 0 0 0;">
   	<div style="text-align:center">
   	<p style="font-family:verdana">
   	We're sorry, it has not been possible to take a picture of
   	</p>
   </div>
   </td>
  </tr>
  <tr>
   <td style="padding: 0 0 0 0;">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
       <tr>
        <td align="right" bgcolor="#ffffff" style="padding: 0 5px 0 0;">
         <img src="{{BASE_URL}}{% static 'explorer/images/stars-left-01.jpg' %}" width="35" height="32" style="display: block;" />
        </td>
        <td width="40%" valign="center">
        	<div style="text-align:center">
        	<p style="font-family:verdana;font-size:2em;">
         	{{ target }}
         	</p>
         </div>
        </td>
        <td align="left" bgcolor="#ffffff" style="padding: 0 0 0 5px;" >
         <img src="{{BASE_URL}}{% static 'explorer/images/stars-right-01.jpg' %}" width="35" height="32" style="display: block;" />
        </td>
       </tr>
      </table>
   </td>
  </tr>
  <tr>
   <td style="padding: 20px 0 20px 0;">
   	<div style="text-align:center">
   	<p style="font-family:verdana">
      Please visit to Serol's Cosmic Adventures and we'll try again to get you a picture for Challenge {{ challenge }} from Mission <em>{{ mission_name }}</em>.
	</p>
	</div>
   </td>
  </tr>
  <tr>
   <td align="center" bgcolor="#ffffff" style="padding: 0 0 0 0;">
    <a href="https://serol.lco.global{{ url }}">
      <img src="{{BASE_URL}}{% static 'explorer/images/look-button-01.jpg' %}" alt="Let's try again!" width="221" height="49" style="display: block;" />
    </a>
   </td>
  </tr>
  <tr>
   <td style="padding: 50px 0 0 0;">
   	<div style="text-align:center">
   	<p style="font-family:verdana">
    See you soon!
	</p>
	</div>
   </td>
  </tr>
  <tr>
   <td style="padding: 2px 0 0 0;">
   	<div style="text-align:center">
   	<p style="font-family:verdana">
    Serol
	</p>
	</div>
   </td>
  </tr>
 </table>
  </td>
 </tr>
 <tr>
  <td align="center" bgcolor="#ffffff" style="padding: 0 0 0 0;">
   <img src="{{BASE_URL}}{% static 'explorer/images/serol-email-footer-01.jpg' %}" alt="Serol's Cosmic Explorers" width="600" height="65" style="display: block;" />
  </td>
 </tr>
</table>
   </td>
  </tr>
 </table>
</body>
