{% load static i18n thumbnail %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "explorer/images/favicon.gif" %}">
    <link rel="icon" href="{% static "explorer/images/favicon.ico" %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static "explorer/images/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "explorer/images/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "explorer/images/favicon-16x16.png" %}">
      <link rel="apple-touch-icon" sizes="180x180" href="{% static "explorer/images/apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "explorer/images/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "explorer/images/favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "explorer/images/site.webmanifest" %}">
    <link rel="mask-icon" href="{% static "explorer/images/safari-pinned-tab.svg" %}" color="#252443">
    <script defer src="https://pro.fontawesome.com/releases/v5.13.0/js/all.js" integrity="sha384-Z0e6PSokCQP510gixgZGPs+obVv8eogS/eS2+/7lLSMOfmLnWBgPQppPispQXGUM" crossorigin="anonymous"></script>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content=“#ffffff”>

    <title>Serol's Cosmic Adventures | {% block title %}powered by Las Cumbres Observatory{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Aldrich" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
    <script>
      $(document).ready(function(){
        $('.targets').each( function(index){
          var div = $(this);
          var frame = $(this).data('frameid');
          var target_name = $(this).data('target')
          // var url = `https://simbad2k.lco.global/${target}?target_type=sidereal`
          var url = `https://archive-api.lco.global/frames/${frame}/headers/`
          $.getJSON(url, function(data){
            var content = `RA: ${data.CRVAL1} Declination: ${data.crval2} <br/>`
                          + `Name: ${target_name}`;
            $('.targets')[index].html = content;
            console.log(content)
          })
        })
      })
      </script>
  </head>

  <body>
    <div class="container">
      <div class="columns is-multiline">
        {% for challenge in challenges %}
        <div class="column is-half">
          <figure class="image">
            {% if challenge.image %}
            {% thumbnail  challenge.image "sticker" crop as im %}
              <img src="{{ im.url }}" />
            {% else %}
              <img src="{% static 'explorer/images/placeholder2.png' %}" class='tmp'/>
            {% endif %}
          </figure>
          <p data-target="{{challenge.target}}" data-frameid="{{challenge.frameid}}" class="targets">
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
