{% extends 'explorer/base.html' %}

{% load i18n static explorer_utils thumbnail %}

{% block title %}{% trans "Your Stickers" %}{% endblock %}
{% block ribbon %}{% endblock %}

{% block main-content %}
<section class="section">
<div class="container">
    <h1>{% trans "Stickers you've unlocked" %}</h1>
    <p>{% trans "Below are the challenge stickers you have unlocked. Click each of them to see your pictures."%}</p>
  {% for progress in object_list %}
    <div class="{% cycle 'green-bg' 'red-bg' 'blue-bg' %} mt-4 mb-4 p-6 rounded-corners">
      <div class="columns">
        <div class="column is-one-third">
          {% with "explorer/"|add:progress.mission.patch as patch_url %}
          <img class="img-fluid rounded" src="{% static patch_url %}"  alt="Mission {{progress.mission.number}} patch">
          <h2>Mission {{progress.mission.number}}: {{progress.mission.name}}</h2>
          {% if user|user_mission_state:progress.mission.number %}
          <a href="{% url 'challenge-next' progress.mission.number %}" class="button mission-{{progress.mission.number}}-colour">{% trans "start a new challenge?" %}</a>
          {% else %}
          <p class="p-3 mb-2 bg-grey text-white" id="mission-btn-{{mission.number}}"><i class="far fa-lock-alt"></i> {% trans "Complete Mission 1 to unlock" %}</p>
          {% endif %}
          {% endwith %}
        </div>
        <div class="column">
          <div class="columns is-multiline">
          {% for challenge in progress.challenges %}
          <div class="column is-one-third">
            <figure class="image image-with-sticker">
              {% if challenge.complete %}
              <a href="{% url 'challenge' challenge.challenge.id %}">
                {% if challenge.image %}
                {% thumbnail  challenge.image "sticker" crop as im %}
                    <img src="{{ im.url }}" />
                {% else %}
                  <img src="{% static 'explorer/images/placeholder2.png' %}" class='tmp'/>
                {% endif %}
                <img src="{{ challenge.sticker }}" class="sticker-over-image" />
              </a>
              {% else %}
              <img src="{% static 'explorer/images/placeholder2.png' %}" />
              {% endif %}
              <p>{{challenge.challenge.name}}</p>
            </figure>
            </div>
          {% empty%}
          <p>No stickers defined?</p>
          {% endfor %}
          </div>
          {% if user|user_mission_state:progress.mission.number %}
          <span class="icon-text">
            <span class="icon">
              <i class="fas fa-download"></i>
            </span>
            <span><a href="{% url 'mission-pdf' progress.mission.number %}">Download your picture sheet</a></span>
          </span>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
</section>
{% endblock %}
