{% extends 'explorer/base.html' %}

{% load i18n staticfiles explorer_utils %}

{% block title %}{% trans "Your Stickers" %}{% endblock %}
{% block ribbon %}{% endblock %}

{% block main-content %}
<section class="section">
<div class="container">
    <h1 class="bg-blur">{% trans "Stickers you've unlocked" %}</h1>
    <p  class="bg-blur">{% trans "Below are the challenge stickers you have unlocked. Click each of them to see your pictures."%}</p>
  {% for progress in object_list %}
    <div class="{% cycle 'green-bg' 'red-bg' 'blue-bg' %} mt-4 mb-4 p-6 rounded-corners">
      <div class="columns">
        <div class="column is-one-third">
          {% with "explorer/"|add:progress.mission.patch as icon_url %}
          <img class="img-fluid rounded" src="{% static icon_url %}"  alt="Mission {{progress.mission.number}} patch">
          <h2>Mission {{progress.mission.number}}: {{progress.mission.name}}</h2>
          {% if request.user|user_mission_state:progress.mission.number %}
          <a href="{% url 'challenge-next' progress.mission.number %}" class="button colour-option-{{progress.mission.number}}">{% trans "start a new challenge?" %}</a>
          {% else %}
          <p class="p-3 mb-2 bg-grey text-white" id="mission-btn-{{mission.number}}"><i class="far fa-lock-alt"></i> {% trans "Complete Mission 1 to unlock" %}</p>
          {% endif %}
          {% endwith %}
        </div>
        <div class="column">
          <div class="columns is-multiline">
          {% for challenge in progress.challenges %}
          <div class="column is-one-third">
            <figure class="image image-with-sticker">
              {% if challenge.complete %}
              <a href="{% url 'summary' challenge.challenge.id %}">
                <img src="{% if challenge.image %}{{ challenge.image.url|safe }}{% else %}{% static 'explorer/images/placeholder2.png' %}{% endif %}" />
                {% with "explorer/"|add:challenge.sticker as icon_url %}
                <img src="{% static icon_url %}" class="sticker-over-image" />
                {% endwith%}
              </a>
              {% else %}
              <img src="{% static 'explorer/images/placeholder2.png' %}" />
              {% endif %}
              <p>{{challenge.challenge.name}}</p>
            </figure>
            </div>
          {% empty%}
          <p>No stickers defined?</p>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
</section>
{% endblock %}
