{% extends 'explorer/challenge-base.html' %}
{% load static i18n %}

{% block wrapper-class%}challenge mission-{{object.mission.number}}-sidebar{%endblock%}

{% block main-body %}
<div class="centre-container">
  <h1>{% trans "Analyse your image!" %}</h1>
  <div class="row">
    <div class="col-lg-8">
<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-2">
    {% if progress.status == "New"%}
    <p class="lead">{{object.description|safe}}</p>
    <a href="{% url 'observe' object.pk %}" class="tn btn-info btn-lg  animated tada">Start the challenge ></a>
    {% elif progress.status == "Failed" %}
    {% endif %}
  </div>
  </div>
  </div>

{% endblock %}

{% block script-content %}
{% endblock%}
