{% extends 'explorer/base.html' %}
{% load static i18n %}

{% block wrapper-class%}mission-{{object.mission.number}}-sidebar{%endblock%}

{% block main-content %}
<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row page-header">
    <div class="col-lg-12">
        <h1 class="display-1">{% trans "Challenge" %} {{object.number }}</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-2">
    {% if progress.status == "Start"%}
    <p class="lead">{{object.description|safe}}</p>
    <p>{{progress.status}}</p>
    <a href="{% url 'observe' object.pk %}" class="tn btn-info btn-lg  animated tada">Start the challenge ></a>
    {% elif progress.status == "Submitted" %}
    <p>{% trans "Serol has asked Las Cumbres Observatory to take your picture in" %}</p>
    <div id="request-message">
      <div class="row">
        <div class="col-md-2 offset-md-2">
          <i class="fas fa-alarm-clock fa-10x"></i>
        </div>
        <div class="col-md-8">
        <h2 class="request-status-info"><span id="request-days"></span><span id="request-time"><i class="fa fa-cog fa-spin fa-fw"></i></span></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2  offset-md-2">
          <i class="fas fa-compass fa-10x"></i>
        </div>
        <div class="col-md-8">
          <h2 class="request-status-info" id="request-site">
            <i class="fa fa-cog fa-spin fa-fw"></i>
          </h2>
        </div>
      </div>
    </div>
    {% elif progress.status == "Completed" %}
    {% elif progress.status == "Failed" %}
    {% endif %}
  </div>
  </div>
  </div>
{% endblock %}

{% if progress.status == "Submitted" %}
{% block script-content %}
<script src="{% static "explorer/js/utils.js" %}"  type="text/javascript" ></script>
<script>
var requestid = "{{progress.requestids}}";
var resp;
$(document).ready(function(){
  resp = status_request(requestid, localStorage.getItem('token'));
});
</script>
{% endblock%}
{% endif %}
