{% extends 'explorer/base.html' %}
{% load static i18n %}

{% block mission-class %}mission-{{object.mission.number}}-sidebar{%endblock%}

{% block challengename %}{{object.name}}{% endblock %}

{% block menubar %}
<div class="container-fluid">
  <div class="navbar-brand">
    <a  href="/"><img src="{% static 'explorer/images/serol_logo_sm.png'%}" /></a>
    <span class="nav-heading">Challenge {{object.number}} : {{object.name}}</span>
  </div>
  <a class="dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="far fa-bars"></i>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="nav-link" href="/">{% trans "Home" %}</a>
    <a class="nav-link" href="/about/">{% trans "About Serol" %}</a>
    <a class="nav-link" href="/videos/">{% trans "Videos" %}</a>
    <a class="nav-link" href="{% url 'missions' %}">{% trans "Missions" %}</a>
    <a class="nav-link" href="{% url 'stickers' %}">{% trans "My Progress" %}</a>
    <a class="nav-link" href="{% url 'auth_logout' %}" id="logout">{% trans "Logout" %}</a>
  </div>

  <div class="corner-ribbon sticky shadow mission-{{object.mission.number}}-colour"><h2>{% trans "Mission" %} {{object.mission.number}}</h2></div>
</div>
{% endblock %}


{% block main-content %}
<div class="content-wrapper">
  <div class="content-wrapper-inner">
    <div class="container">
      <div class="centre-container">
        {% block main-body %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block script-content %}
{% endblock %}
