{% extends 'explorer/base.html' %}
{% load static i18n %}

{% block wrapper-class%}challenge mission-{{object.mission.number}}-sidebar{%endblock%}

{% block challengename %}{{object.challenge.name}}{% endblock %}

{% block main-body %}
<div class="centre-container">
<h1>{% trans "Challenge Completed!" %}</h1>
  <div class="row">
        <div class="col-lg-4">
          {% for sticker in stickers %}
          <img src="/media/{{MEDIA_URL}}{{sticker.sticker.filename}}" alt="{{sticker.sticker.desc}}"  class="img-fluid rounded" />
          {% endfor %}
        </div>
        <div class="col-lg-8">
          <img src="http://placehold.it/300x300" alt="{{object.name}}" class="img-fluid rounded" id="img-holder">
          <p>Your picture of {{progress.target}}</p>

          <p>
          {% trans "From looking at your picture, you said:"%}
          <ul>
            {% for answer in answers %}
            <li>{{answer.answer.text}}</li>
            {% endfor %}
          </ul>
        </p>
        </div>
  </div>
</div>
{% endblock %}

{% block script-content %}
<script src="{% static 'explorer/js/utils.js' %}" ></script>
<script>
var frameid = {{ progress.frameids}};

$(document).ready(function(){
  get_colour_image(localStorage.getItem('archive_token'), frameid, mode='analyser');
});
</script>
{% endblock %}
