{% extends 'explorer/challenge-base.html' %}
{% load static i18n  explorer_utils %}

{% block title %}{{object.name}}{% endblock %}

{% block main-body %}
<div id="serol" style="display:none;">
  <div class="columns is-centered">
    <div class="column is-half">
      <figure id="seroldemo" class="image"></figure>
      {% for sticker in stickers %}
      <figure id="sticker" class="image">
        {% with "explorer/"|add:sticker.sticker.filename as icon_url %}
        <img src="{% static icon_url %}"  alt="{{sticker.sticker.desc}}">
        {% endwith %}
      </figure>
      {% endfor %}
    </div>
  </div>
</div>
<div id="results">
  <h1>{% if object.is_last%}{% trans "Mission Completed!" %}{% else %}{% trans "Challenge Completed!" %}{%endif%}</h1>
        <div class="columns">
          <div class="column is-one-quarter">
          {% for sticker in stickers %}
          <figure class="image is-1by1">

            {% with "explorer/"|add:sticker.sticker.filename as icon_url %}
            <img src="{% static icon_url %}"  alt="{{sticker.sticker.desc}}">
            {% endwith %}
          </figure>
          {% endfor %}
          <p class="text-center pt-6">
            {% if object.mission.number in completed_missions %}
            <a href="{% url 'mission-complete' object.mission.number  %}" class="button is-fullwidth oswald mission-{{object.mission.number}}-colour">{% trans "Continue your adventure!" %}</a>
            {% else %}
            <a href="{% url 'challenge-next' object.mission.number %}" class="button is-fullwidth oswald mission-{{object.mission.number}}-colour">{% trans "start a new challenge?" %}</a>
            {% endif %}
          </p>
          <table class="table is-fullwidth">
            <th>
              <td colspan=2>Observation Information</td>
            </th>
            <tr>
              <td>RA:</td><td>{{coords.0}}</td>
            </tr>
            <tr>
              <td>Dec:</td><td>{{coords.1}}</td>
            <tr>
            <tr>
              <td><i class="fas fa-clock" aria-hidden="true"></i></td><td>{{progress.obsdate|date:"j F Y"}}</td>
            </tr>
            <tr>
              <td><i class="fas fa-map-marker-alt" aria-hidden="true"></i></td><td>{% lco_site progress.siteid %}</td>
            </tr>
            {% if progress.image_file %}
            <tr>
              <td colspan=2">
                <a href="{{ progress.image_file.url|safe }}" download>
                <span class="icon-text">
                  <span class="icon">
                    <i class="fas fa-download" aria-hidden="true"></i>
                  </span>
                <span>download image</span>
                </span>
                </a>
                </td>
              </tr>
            {% endif %}
          </table>
          <div class="notification mt-6">
            <span class="icon"> <i class="fal fa-question-square"></i></span>
            Is there something wrong with the picture?
            <a href="{% url 'redo' object.id %}" class="button is-fullwidth oswald has-background-grey-lighter">{% trans "Let's try again" %}</a>
          </div>
        </div>
        <div class="column">
          <span class="text-right rounded mission-{{object.mission.number}}-colour p-2 oswald black">Your picture of {{progress.target}}</span>
          <figure class="image">
          <img src="{% if progress.image_file %}{{ progress.image_file.url|safe }}{% else %}{% static 'explorer/images/placeholder.jpg' %}{% endif %}" alt="{{object.name}}" class="img-fluid img-thumbnail" id="img-holder">
          </figure>
          <h3>{% trans "From looking at your picture, your analysis was:"%}</h3>
          <div class="answers">
            {% for answer in answers %}
            <div class="questionrow">
              <span class="question">{{answer.answer.question.text}}</span>
              <span class="answer">{{answer.answer.text}}</span>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script-content %}
<script src="{% static 'explorer/js/utils.js' %}" ></script>
<script>
var frameid = {{ progress.frameids}};
var my_image {% if progress.image_file %} = "{{ progress.image_file.url|safe }}"{% endif %};

var serolStatus = {
    container: document.getElementById('seroldemo'),
    renderer: 'svg',
    loop: false,
    autoplay: true,
    autoloadSegments: true,
    rendererSettings: {
        progressiveLoad:false
    },
    path: '{{animation}}'
};

function showResults(){
  $("#serol").hide();
  $("#results").show();
  $.getJSON( "{% url 'badge-update' progress.id %}", function( data ) {
    console.log(data)
  });
}

function switchSticker(){
  $("#seroldemo").hide();
  $("#sticker").show();
  setTimeout(showResults, 1500)
}

{% if not progress.badge_shown %}
serolanim = lottie.loadAnimation(serolStatus);

$(document).ready(function(){
    $("#results").hide();
    $("#sticker").hide();
    $("#serol").show();
  serolanim.addEventListener("complete",switchSticker,false);

  if (typeof(my_image) == 'undefined'){
    get_colour_image(localStorage.getItem('archive_token'), frameid, mode='analyser')
  }

});
{% endif %}
</script>
{% endblock %}
