{% extends 'explorer/base.html' %}
{% load static i18n %}

{% block wrapper-class%}challenge mission-{{object.mission.number}}-sidebar{%endblock%}

{% block script-content %}
<script src="{% static 'explorer/js/utils.js' %}" ></script>
<script>
var images = Array();
var redirect_url = "{% url 'analyse' object.id %}?frameid="
var requestid = {{ progress.requestids}};
images.push({'mine':false, 'url':"https://lco.global/files/rtisba/faulkes-rti/imagearchive/2013/08/07/process-1835-2.jpg"});
images.push({'mine':false, 'url':"https://lco.global/files/rtisba/faulkes-rti/imagearchive/2013/04/26/process-2408-1.jpg"});
images.push({'mine':false, 'url':"https://lco.global/files/rtisba/faulkes-rti/imagearchive/2013/04/04/process-753-2.jpg"});
$(document).ready(function(){
  $.when(
    $.get({url: 'https://archive-api.lco.global/frames/?limit=1&offset=1&ordering=-id&REQNUM='+requestid,
      headers: {'Authorization': 'Token '+localStorage.getItem('archive_token')},
      dataType: 'json',
      contentType: 'application/json'}))
    .done(function(rdata){
        var frameid;
        if (rdata['results'].length > 0){
          console.log(rdata);
          frameid = rdata['results'][0]['id'];
          redirect_url+=frameid
          get_colour_image(localStorage.getItem('archive_token'), frameid, mode='identify')
        }
        console.log("Number of Images ="+rdata['results'].length);
    })
    .fail(function(d){
      console.log('Error' + d)
    });


});
</script>
{% endblock %}

{% block challengename %}{{object.challenge.name}}{% endblock %}

{% block main-body %}
<div class="centre-container">
<h1>{% trans "Which is your picture?" %}</h1>
  <div class="row">
    <div class="col-lg-10">
      <div class="row">
        {% for i in "0123" %}
        <div class="col-6 pb-2">
          <img src="http://placehold.it/300x300" alt="Avatar" class="identify-image img-fluid rounded" id="img-{{i}}">
          <div class="identify-middle">
            <div class="identify-text" id="img-text-{{i}}" data-mine="">
              <i class="far fa-question fa-4x"></i>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-2">
        <div class="speech-bubble">
          <div class="arrow bottom right"></div>
          {% trans "You asked for" %} <strong>{{progress.target}}</strong>.
              {% trans "That's a" %} {{object.category}}.</p>
          {% trans "Click on your picture" %}</p>
        </div>
    </div>
  </div>
</div>
<div class="identify-answer identify-yes" style="display:none;">{% trans "Correct!" %}</div>
<div class="identify-answer identify-no" style="display:none;">{% trans "Try Again!" %}</div>


{% endblock %}
