{% extends 'explorer/base.html' %}
{% load static i18n %}

{% block wrapper-class%}challenge mission-{{object.mission.number}}-sidebar{%endblock%}

{% block challengename %}{{object.name}}{% endblock %}

{% block main-content %}
<div class="container">
{% block main-header %}
<h3><a href="{% url 'home' %}"><img src="{% static 'explorer/images/serol_logo_sm.png'%}" /></a> Challenge {{object.number}} : {{object.name}}</h3>
{% endblock %}

{% block main-body %}
{% endblock %}
</div>
{% endblock %}

{% block ribbon %}
<div class="corner-ribbon sticky shadow mission-{{object.mission.number}}-colour"><h2>{% trans "Mission" %} {{object.mission.number}}</h2></div>
{% endblock %}

{% block script-content %}
{% endblock %}
