{% extends 'explorer/challenge-base.html' %}
{% load static i18n %}

{% block wrapper-class%}challenge mission-{{object.mission.number}}-sidebar{%endblock%}

{% block main-body %}
<div class="centre-container">
  <h1>{% trans "Bad news! " %}</h1>
    <p>{% blocktrans %}Serol wasn't able to get you a picture. Let's give {{object}} another try!{% endblocktrans %}</p>
    <p><a href="{% url 'retry' object.pk %}" class="btn btn-lg btn-4 btn-4a animated tada" id="start-btn">{% trans 'Retry the challenge' %}</a></p>
  </div>

{% endblock %}

{% block script-content %}
{% endblock%}
