{% extends 'explorer/challenge-base.html' %}
{% load static i18n %}

{% block wrapper-class%}challenge mission-{{object.mission.number}}-sidebar{%endblock%}

{% block main-body %}
<div class="centre-container">
  <h1>{% trans 'Challenge '%}{{object.number}}: {{object.name}}</h1>
    <p>{{object.description|safe}}</p>
    <p><a href="{% url 'observe' object.pk %}" class="btn btn-info btn-lg  animated tada">{% trans 'Start the challenge' %}</a></p>
  </div>

{% endblock %}

{% block script-content %}
{% endblock%}
