{% extends 'explorer/challenge-base.html' %}
{% load static i18n %}

{% block script-content %}
<script src="{% static 'explorer/js/utils.js' %}" ></script>
<script>
var targets;
var tmp;
var category = '{{object.avm_code}}';
var image_files = {
    '5.1.1' : "{% static 'explorer/images/5.1.1-spiral_galaxy.png' %}",
    '5.1.4' : "{% static 'explorer/images/5.1.4-elliptical_galaxy.png' %}",
    '5.1.6' : "{% static 'explorer/images/5.1.6-interacting_galaxy.png' %}",
    '4.1.4' : "{% static 'explorer/images/4.1.4-supernova_remnant.png' %}",
    '3.6.4.1' : "{% static 'explorer/images/3.6.4.1-open_cluster.png' %}",
    '3.6.4.2' : "{% static 'explorer/images/3.6.4.2-globular_cluster.png' %}",
    '2.3' : "{% static 'explorer/images/2.3-asteroid.png' %}",
    '2.2' : "{% static 'explorer/images/2.3-comet.png' %}",
    '1.1' : "{% static 'explorer/images/1.1.2-saturn.png' %}"
                  };


function add_targets(i, data){
  var item = "#target-img-"+i;
  $(item+" .target-name").html(data);
}

$(document).ready(function(){
  var start = new Date();
  var end = startEnd(start);
  var csrftoken = '{{ csrf_token }}';
  var challenge_id = '{{object.id}}'
  var redirect_url = "{% url 'challenge' object.id %}";
  var image_file = image_files[category];
  var whatsupurl = "https://lco.global/whatsup/range/?aperture=0m4&format=jsonp";
  var target_type;

  if (category == '2.3' || category == '2.2' || category == '1.1'){
    target_type = 'moving';
  } else {
    target_type = 'sidereal';
    whatsupurl += "&category="+category;
    whatsupurl += "&end="+end.substr(0,19);
    whatsupurl += "&start="+start.toISOString().substr(0,19);

    $.ajax( {url : whatsupurl,
      jsonp: "callback",
      dataType: "jsonp",
      success: function( data ) {
        targets = data.targets;
        var target;
        var max_length = targets.length > 6 ? 6 : targets.length;
        // Hide all the image placeholders
        $(".target-holder").hide();

        for (i=0;i<max_length;i++){
          target = data.targets[i];
          var item = "#target-img-"+i;
          $(item+" .target-name").html(target.name);
          $(item+" img").attr('src',image_file);
          $(item).data('tid',i);
          // Show parent target holder
          $(item).parent().show();
        }
      }
    });
  }

  $(".target-holder a").on("click", function(){
    var tid = $(this).data('tid');
    if (target_type=='moving'){
      var title = $(this).find(".target-name").html();
      var desc = $(this).find(".target-desc").html();
      $(".modal-title").html(title);
      $(".modal-body").html(desc);
    } else {
      $(".modal-title").html(targets[tid].name);
      $(".modal-body").html(targets[tid].desc);
    }
    $("#submit_button").data('tid',tid);
  });

  $("#submit_button").on("click", function(){
    console.log()
    var start = new Date();
    var end = startEnd(start);
		var data = {start: start.toISOString().substr(0,19),
					end:end.substr(0,19),
					aperture:'0m4',
          target_type: target_type,
					token: localStorage.getItem('token'),
          csrfmiddlewaretoken: csrftoken,
          challenge:challenge_id
				};
    if (target_type == 'moving'){
      var tid = $(this).data('tid');
      data['object_name'] = tid;
    } else {
      data['object_name'] = target.name;
      data['object_ra'] = target.ra;
      data['object_dec'] = target.dec;
      data['filters'] = JSON.stringify(target.filters);
    }
    submit_to_serol(data, redirect_url);
  });
});
</script>
{% endblock%}
{% block wrapper-class%}challenge mission-{{object.mission.number}}-sidebar{%endblock%}

{% block main-body %}
<div class="centre-container">
  <h1>{{object.action}}</h1>
  <p>{% trans 'Serol will take a picture of your choice within 7 days' %}</p>
  <div class="row">
    {% if targets %}
    {% for target in targets %}
    <div class="col-lg-4  col-sm-6 pb-5 target-holder">
        <a href="#" id="target-img-{{target}}" data-toggle="modal" data-target="#targetModal" data-tid="{{target.id}}" data-name="{{target.name}}">
            {% with "explorer/images/"|add:target.icon as icon_url %}<img class="img-fluid" src="{% static icon_url %}" alt="">
            <div class="target-name-holder">
              <span class="target-name">{{target.name}}</span>
              <span class="target-desc" style="display:none;">{{target.description}}</span>
            </div>
        </a>
    </div>
    {% endwith %}
    {% endfor %}
    {% else %}
    {% for i in "012345" %}
    <div class="col-lg-4  col-sm-6 pb-5 target-holder">
        <a href="#" id="target-img-{{i}}" data-toggle="modal" data-target="#targetModal" data-tid="">
            <img class="img-fluid" src="http://placehold.it/400x300" alt="">
            <div class="target-name-holder">
              <span class="target-name"></span>
            </div>
        </a>
    </div>
    {% endfor %}
    {% endif %}
  </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="targetModal" tabindex="-1" role="dialog" aria-labelledby="targetModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-4 btn-4a" id="submit_button" data-tid="">Take a picture! ></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
