{% extends 'explorer/base.html' %}
{% load static %}

{% block wrapper-class%}mission-{{object.mission.number}}-sidebar{%endblock%}

{% block main-content %}
<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row page-header">
    <div class="col-lg-12">
        <h1>Challenge {{object.number }}!</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <p class="lead">{{object.description|safe}}</p>
    <a href="{% url 'challenge-observe' object.pk %}" class="tn btn-info btn-lg  animated tada">Start the challenge ></a>
  </div>
  </div>
{% endblock %}
