{% extends 'explorer/base.html' %}
{% load static %}

{% block script-content %}
<script src="{% static 'explorer/js/utils.js' %}" ></script>
<script>
var targets;
var category = '{{object.category}}';
var image_files = {
    '5.1.1' : "{% static 'explorer/images/5.1.1-spiral_galaxy.png' %}",
    '5.1.4' : "{% static 'explorer/images/5.1.4-elliptical_galaxy.png' %}",
    '5.1.6' : "{% static 'explorer/images/5.1.6-interacting_galaxy.png' %}",
    '4.1.4' : "{% static 'explorer/images/4.1.4-supernova_remnant.png' %}",
    '3.6.4.1' : "{% static 'explorer/images/3.6.4.1-open_cluster.png' %}",
    '3.6.4.2' : "{% static 'explorer/images/3.6.4.1-globuler_cluster.png' %}",
    '2.3' : "{% static 'explorer/images/2.3-asteroid.png' %}"
                  };


function add_targets(i, data){
  var item = "#target-img-"+i;
  $(item+" .target-name").html(data);
}

$(document).ready(function(){
  var csrftoken = '{{ csrf_token }}';
  var challenge_id = '{{object.id}}'
  var redirect_url = "{% url 'challenge' object.id %}";
  var whatsupurl = "https://lco.global/whatsup/range/?aperture=0m4&format=jsonp";
  var image_file = image_files[category];

  whatsupurl += "&category="+category;
  whatsupurl += "&end="+end.substr(0,19);
  whatsupurl += "&start="+start.toISOString().substr(0,19);

  $.ajax( {url : whatsupurl,
    jsonp: "callback",
    dataType: "jsonp",
    success: function( data ) {
      targets = data.targets;
      var target;
      var max_length = targets.length > 6 ? 6 : targets.length;
      // Hide all the image placeholders
      $(".target-holder").hide();

      for (i=0;i<max_length;i++){
        target = data.targets[i];
        var item = "#target-img-"+i;
        $(item+" .target-name").html(target.name);
        $(item+" img").attr('src',image_file);
        $(item).data('tid',i);
        // Show parent target holder
        $(item).parent().show();
      }
    }
  });

  $(".target-holder a").on("click", function(){
    var tid = $(this).data('tid');
    $(".modal-title").html(targets[tid].name);
    $(".modal-body").html(targets[tid].desc);
    $("#submit_button").data('tid',tid);
  });

  $("#submit_button").on("click", function(){
    var tid = $(this).data('tid')
    submit_to_serol(targets[tid], localStorage.getItem('token'), challenge_id, redirect_url, csrftoken);
  });
});
</script>
{% endblock%}
{% block wrapper-class%}mission-{{object.mission.number}}-sidebar{%endblock%}

{% block main-content %}
<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row page-header">
    <div class="col-lg-12">
        <h1>Challenge {{object.number }}</h1>
        <p>{{object.action}}</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    {% for i in "012345" %}
    <div class="col-lg-4  col-sm-6 pb-5 target-holder">
        <a href="#" id="target-img-{{i}}" data-toggle="modal" data-target="#targetModal" data-tid="">
            <img class="img-fluid" src="http://placehold.it/400x300" alt="">
            <div class="target-name-holder">
              <span class="target-name"></span>
            </div>
        </a>
    </div>
    {% endfor %}
  </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="targetModal" tabindex="-1" role="dialog" aria-labelledby="targetModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-secondary" id="submit_button" data-tid="">Take a picture! ></a>
      </div>
    </div>
  </div>
{% endblock %}
