{% extends 'explorer/base.html' %}
{% load static i18n %}

{% block wrapper-class%}challenge mission-{{object.mission.number}}-sidebar{%endblock%}

{% block script-content %}
<script src="{% static 'explorer/js/utils.js' %}" ></script>
<script>
var requestid = {{ progress.requestids}};
var frameid;
$(document).ready(function(){
  frameid = get_qs('frameid');
  if (frameid == undefined){
    $.when(
      $.get({url: 'https://archive-api.lco.global/frames/?limit=1&offset=1&ordering=-id&REQNUM='+requestid,
        headers: {'Authorization': 'Token '+localStorage.getItem('archive_token')},
        dataType: 'json',
        contentType: 'application/json'}))
      .done(function(rdata){
          var frameid;
          if (rdata['results'].length > 0){
            console.log(rdata);
            frameid = rdata['results'][0]['id'];
            get_colour_image(localStorage.getItem('archive_token'), frameid, mode='analyser')
          }
          console.log("Number of Images ="+rdata['results'].length);
      })
      .fail(function(d){

      });
    } else {
      get_colour_image(localStorage.getItem('archive_token'), frameid, mode='analyser')
    }

});
</script>
{% endblock %}

{% block main-content %}
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-lg-12">
      <h1>{% trans "Analyse your image!" %}</h1>
    </div>
  </div>
</div>
<div class="container pt-2">
  <div class="row">
    <div class="col-md-6 offset-md-2">
      <img src="http://placehold.it/300x300" alt="{{object.name}}" class="img-fluid rounded" id="img-analyser">
    </div>
    <div class="col-md-4">
      <div class=" side-panel">
      {% for question in questions %}
      <h3>{{question.text}}</strong></h3>

        <div class="question-container">
        <ul>
        {% for answer in question.answer_set.all %}
        <li>
           <input type="radio" name='answer' id="answer-{{answer.pk}}">
           <label for="answer-{{answer.pk}}">{{answer.text}}</label>
           <div class="check"></div>
       </li>
       {% endfor %}
     </ul>
   </div>
   {% endfor %}
    </div>
    </div>
  </div>

</div>
<div class="corner-ribbon top-right sticky shadow mission-{{object.number}}-colour"><h2>{% trans "Mission" %} {{object.number}}</h2></div>

{% endblock %}
