{% extends 'explorer/base.html' %}
{% load static i18n %}

{% block wrapper-class%}challenge mission-{{object.mission.number}}-sidebar{%endblock%}

{% block script-content %}
<script src="{% static 'explorer/js/utils.js' %}" ></script>
<script>
var images = Array();
var requestid = {{ progress.requestids}};
images.push({'mine':false, 'url':"https://lco.global/files/rtisba/faulkes-rti/imagearchive/2013/08/07/process-1835-2.jpg"});
images.push({'mine':false, 'url':"https://lco.global/files/rtisba/faulkes-rti/imagearchive/2013/04/26/process-2408-1.jpg"});
images.push({'mine':false, 'url':"https://lco.global/files/rtisba/faulkes-rti/imagearchive/2013/04/04/process-753-2.jpg"});
var tmp;
$(document).ready(function(){
  $.when(
    $.getJSON({url: 'https://archive-api.lco.global/frames/?limit=1&offset=1&ordering=-id&REQNUM='+requestid,
      headers: {'Authorization': 'Token '+localStorage.getItem('archive_token')},
      dataType: 'json',
      contentType: 'application/json'}))
    .done(function(rdata){
        var frameid;
        if (rdata['results'].length > 0){
          console.log(rdata);
          frameid = rdata['results'][0]['id'];
          get_colour_image(localStorage.getItem('archive_token'), frameid)
        }
        console.log("Number of Images ="+rdata['results'].length);
    });

});
</script>
{% endblock %}

{% block main-content %}
<div class="container">
  <!-- Example row of columns -->
  <div class="row page-header">
    <div class="col-lg-12">
        <h1 class="display-1">{% trans "Challenge" %} {{object.number }}</h1>
    </div>
  </div>
</div>
<div class="container pt-2">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="row">
        {% for i in "0123" %}
        <div class="col-sm-6 pb-5 identify-container">
          <img src="http://placehold.it/300x300" alt="Avatar" class="identify-image img-fluid rounded" id="img-{{i}}">
          <div class="identify-middle">
            <div class="identify-text" id="img-text-{{i}}" data-mine="">
              <i class="fa fa-question fa-4x"></i>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-2">
      <div class=" side-panel">
      <h2>{% trans "Which is your picture?" %}</h2>
      <p>{% trans "You asked for" %} <strong>{{progress.target}}</strong>.
          {% trans "That's a" %} {{object.category}}.</p>
      <p>{% trans "Which picture is it?" %}</p>
    </div>
    </div>
  </div>
</div>
{% endblock %}
