{% extends "explorer/base.html" %}
{% load static i18n explorer_utils %}

{% block ribbon %}{% endblock %}

{% block script-content %}
{% if request.user.is_authenticated %}
<script>
$(document).ready(function(){
  if (localStorage.getItem('token') == null){
    localStorage.setItem('token','{{request.user.token}}');
  }
  if (localStorage.getItem('archive_token') == null){
    localStorage.setItem('archive_token','{{request.user.archive_token}}');
  }
});
</script>
{% endif %}
{% endblock %}

{% block main-content %}

<div class="content-wrapper">
<div class="content-wrapper-inner">
<div class="container">
  <div class="row">
    <div class="col-4 title-left">
    </div>
    <div class="col-4 ">
      <img src="{% static 'explorer/images/serol_logo_lg.png' %}" alt="serol logo" class="img-fluid" />
      <h1 class="title-main">{% trans "SEROL" %}</h1>
      <div class="info-blue">
        <p class="statement">{% trans "Join Serol and become a Cosmic Explorer" %}</p>
        <p class="statement">
          {% if request.user.is_authenticated %}
          <a href="{% progress_url request.user %}" class="btn btn-lg btn-4 btn-4a animated tada" >{% trans "Continue your adventure!" %}</a>
          {% else %}
          <a href="{% url 'getting-started' %}" class="btn btn-lg btn-4 btn-4a animated tada">{% trans "Start your adventure!" %}</a>
          {% endif %}
        </p>
      </div>
    </div>
    <div class="col-4 title-right">
    </div>
  </div>
</div>
</div>
</div>

{% endblock %}
