{% extends "explorer/base.html" %}
{% load i18n explorer_utils %}


{% block main-content %}

<div class="content-wrapper">
  <div class="container content-wrapper-inner challenge-header mission-{{object.number}}">
  <div class="row">
    <div class="col-12  mission-content">
      <h1>{% trans "Mission" %} {{object.number}}</h1>
      <h1 class="mission-name">{{object.name|safe}}</h1>
      <p><a class="btn btn-info btn-lg animated tada" href="{% url 'challenge' current_challenge.pk %}" role="button">
        {% if current_challenge.number == 1 %}
        {% trans "Start the mission" %}
        {% else %}
        {% trans "Continue the mission" %}
        {% endif %}
         &raquo;</a></p>
    </div>
  </div>
</div>
</div>

{% endblock %}

{% block ribbon %}{% endblock %}
