{% extends "explorer/base.html" %}
{% load static i18n explorer_utils %}

{% block title %}{% trans "Missions" %}{% endblock %}

{% block main-content %}

<div class="content-wrapper">
<div class="content-wrapper-inner">
<div class="container">
  <h1 class="bg-blur">Missions</h1>
  <div class="columns info-blue">
  {% for mission in object_list %}
    <div class="column is-one-third {% cycle 'green-bg' 'red-bg' 'blue-bg' %} mr-4 rounded-corners">
      {% with "explorer/"|add:mission.patch as icon_url %}
      <img class="img-fluid" src="{% static icon_url %}"  alt="Mission {{mission.number}} patch">
      {% endwith %}
      <h2>{% trans "Mission" %} {{mission.number}}</h2>
      <h3 class="mission-name">{{mission.name|safe}}</h3>
        {% if user|user_mission_state:mission.number %}
        <p><a class="button is-large " href="{% url 'challenge-next' mission.number %}" role="button" id="mission-btn-{{mission.number}}">
          {% if mission.pk in active_missions %}
          {% trans "Continue mission" %} &raquo;</a>
          {% else %}
          {% trans "Start mission" %} &raquo;</a>
          {% endif %}
        </p>
        {% else %}
        <p class="p-3 mb-2 bg-grey text-white" id="mission-btn-{{mission.number}}"><i class="far fa-lock-alt"></i> {% trans "Complete Mission 1 to unlock" %}</p>
        {% endif %}
    </div>
  {% endfor %}
  </div>
</div>
</div>
</div>

{% endblock %}

{% block ribbon %}{% endblock %}
